{% extends 'diy/base.html' %}
{% block content %}

<body>
    {% load static %}
    
    <br>
    <div class="card about">
        <h1><b>web site created!!!!!!</b></h1>
        <br>
        <p>
            <a href="http://localhost:8000/diy/urls/{{companyName}}/">Link</a>
        </p>
    </div>
    <br>
    
    <div class="foot">
        <h3>DO IT YOURSELF</h3>
        <h6><a href="#">Disclaimer</a>|<a href="#">Privacy police</a>|<a href="#">News</a>|<a href="#"
                id="contactFooter">Contact us</a>|<a href="#" id="aboutFooter">About Us</a></h6>
        <h6>© 2022-2022. All rights reserved. Version: 1.0.0</h6>
        <br>
    </div>
</body>
{% endblock %}