<body>
    <div>
        <div class="navigator">

            <button class="btn homebtn">Home</button>
            <button class="btn aboutbtn">About Us</button>
            <button class="btn contactbtn">Contact Us</button>
        </div>
    </div>

    <hr>
    <div class="home">
        <h1 style="text-align: center;">{{content.heading}}</h1>
       <img src={{content.url}} alt="404" width="100%">
       <br>
       
   
        <div class="card">
            <p>
                {{content.subHead}}
            </p>
     
            <p>
                {{content.content1}}
            </p>
           
        </div>
        <br>
        <table>
            <th> <p>{{content.content2}} </p>  
            </th>
    
            <th>
                <p>{{content.content3}}</p>
            </th>
            <th>
                <p>{{content.content4}}</p>
            </th>
        </table>
        
    </div>
       <div>
        
       </div>
    <br>
    <div class="card about">
        <h1><b>about us</b></h1>
        <br>
        <p>
            {{content.aboutUs}}
        </p>
           
    </div>
    <br>
    <div class="card contact">
        <h3>contact Details</h3>
        <h6>{{content.adrs1}}</h6>
        <h6>{{content.adrs2}}</h6>
        <h6>{{content.adrs3}}</h6>
        <h6>{{content.celNo}}</h6>
        <h6><b>{{content.email}}</b></h6>
    </div>
    
    <hr>

    <div class="foot">
        <h3>Built From CR-DIY</h3>
        <h6><a href="#">Disclaimer</a>|<a href="#">Privacy police</a>|<a href="#">News</a>|<a href="#"
                id="contactFooter">learn More</a>|<a href="#" id="aboutFooter">About Us</a></h6>
        <h6>© 2022-2022 T. All rights reserved. Version: 1.0.0</h6>
        <br>
    </div>
    
   </form>
</body>
